.sidebar {
    visibility: visible;
    position: fixed;
    top: 100px;
    left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 5px solid #e6e6fa;
    padding-left: 10px;
    font-size: Large;
    text-decoration: none;
    color: #000;
}

.sidebar a{
    text-decoration: none;
    color: #666;
    transition: transform 0.2s ease-in;
    padding-bottom: 4px;
}
.sidebar a:hover{
    transform: translateX(8px);
}


@media (max-width: 1192px){
    .sidebar {
        visibility: hidden;
    } 
}

.HorizontalLinks {
    list-style-type: none;
    margin-bottom: 30px;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    
}

.HorizontalSocialLinks {
    padding-right: 8px;
    opacity: 0.7;
}

.HorizontalSocialLinks:hover {
    opacity: 1;
}

.TitleHeader h1{
    margin-bottom: 15px;
}

.TitleHeader{
    font-size: 1.8rem;
}

.BlogList{
    font-size: 1rem;
}
.BlogList h2, .BlogList a{
    font-size: 1.3rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-bottom: 3px;
}