.container {
    max-width: 850px;
    margin: 0 auto;
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: rgba(0,0,0,.84);
    text-rendering: optimizeLegibility;
}

@media only screen and (max-width: 400px) {
    .container {
      padding: 15px;
    }
}

.sidebar {
    visibility: visible;
    position: fixed;
    top: 100px;
    left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 5px solid #e6e6fa;
    padding-left: 10px;
    font-size: Large;
    text-decoration: none;
    color: #000;
}

.sidebar a{
    text-decoration: none;
    color: #666;
    transition: transform 0.2s ease-in;
    padding-bottom: 4px;
}
.sidebar a:hover{
    transform: translateX(8px);
}


@media (max-width: 1192px){
    .sidebar {
        visibility: hidden;
    } 
}

.HorizontalLinks {
    list-style-type: none;
    margin-bottom: 30px;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    
}

.HorizontalSocialLinks {
    padding-right: 8px;
    opacity: 0.7;
}

.HorizontalSocialLinks:hover {
    opacity: 1;
}

.TitleHeader h1{
    margin-bottom: 15px;
}

.TitleHeader{
    font-size: 1.8rem;
}

.BlogList{
    font-size: 1rem;
    padding: 0 0 0 0 ;
}
.BlogList h2, .BlogList a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-bottom: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.BlogList p{
    margin: 6px;
}
.BlogListAddInfo{
    font-size: 1rem;
}

.blogtag {
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    padding: 0 0.5rem;
    height: 1.8rem;
    margin-right: .4rem;
    border-radius: 1.0rem;
    background-color: #e6e6fa;
    color: rgba(0,0,0,.84);
    margin-bottom: 1.6rem;
}

.blogpostcontainer{
    flex-grow: 1;
    font-size: 1.4rem;
    font-weight: lighter; 
    line-height: 1.9rem;
}

.blogpostcontainer p{
    opacity: 0.8;
}
.blogpostcontainer h2,.blogpostcontainer h3, .blogpostcontainer h4{
    margin-top: 1rem;
 } 
 .blogpostcontainer h5{
    opacity: 0.7;
    margin: 5px;
 }
 .blogpostcontainer img{
    opacity: 1.0;
}

.AboutPageContainer{
    flex-grow: 1;
    font-size: 1.4rem;
    font-weight: lighter; 
    line-height: 1.9rem;
}
.IndexPageContainer{
    flex-grow: 1;
    font-size: 1.4rem;
    font-weight: lighter; 
    line-height: 1.9rem;
    color: rgba(0,0,0,.84);
    text-rendering: optimizeLegibility;
}

.SideProjectList{ 
    font-size: 1rem;
}

.SideProjectList h2 {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 5px;
} 

.SideProjectList a, .SideProjectList p {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-bottom: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
}